
<!--搜索区域-->
<div class="search-box">
      uid: <input [(ngModel)]="find.uid" />
      手机:<input [(ngModel)]="find.phone" />
      昵称:<input [(ngModel)]="find.nickName"/>
      <!-- 姓名:<input [(ngModel)]="find.name"/> -->
      状态:<select id =  "sel" [(ngModel)]="find.status">
            <option  value = "" >全部</option>
            <option  value = "1" >未选开卡等级</option>
            <option  value = "2" >注册成功</option>
            <option  value = "3" >激活成功</option>
            <option  value = "4" >等待保单生效</option>
            <option  value = "5" >出局</option>
            <option  value = "6" >已删除</option>
          </select>
      开卡等级:<select id = "sel"  [(ngModel)]="find.cardGrade">
            <option  value = "">全部</option>
            <option  value = "1">普卡</option>
            <option  value = "2">铜卡</option>
            <option  value = "3">银卡</option>
            <option  value = "4">金卡</option>
            <option  value = "5">钻石卡</option>
          </select>
      用户等级:<select id = "sel"  [(ngModel)]="find.grade">
            <option  value = "">全部</option>
            <option  value = "0">普通</option>
            <option  value = "1">专员</option>
            <option  value = "2">主任</option>
            <option  value = "3">经理</option>
            <option  value = "4">区代</option>
            <option  value = "5">县代</option>
            <option  value = "6">市代</option>
            <option  value = "7">省代</option>
            <option  value = "8">董事</option>

          </select>
      <button type="button" class="btn btn-primary" (click)='loadData()'>搜索</button>
</div>

<!--按钮区域-->
<div class="button-box text-right">
      <!-- <button type="button" class="btn btn-primary" (click)="showAddPanel()"><span class="fa fa-plus-circle"></span> 注册新用户</button> -->
</div>

<!--数据显示区域-->
<div class="table-box">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th>uid</th>
                <th>昵称</th>
                <!-- <th>登录账户</th> -->
                <th>手机</th>
                <th>星级</th>
                <th>等级</th>
                <th>股权币</th>
                <th>支付币</th>
                <th>交易币</th>
                <th>消费码个数</th>
                <th>注册时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of httpService.items; let i = index">
                <td>{{item.uid}}</td>
                <td>{{item.nickName}}</td>
                <!-- <td>{{item.loginName}}</td> -->
                <td>{{item.phone}}</td>
                <td>{{item.gradeName}}</td>
                <td>{{item.cardGradeName}}</td>
                <td>{{item.equityAmt}}</td>
                <td>{{item.payAmt}}</td>
                <td>{{item.tradeAmt}}</td>
                <td>{{item.activeCodeNo}}</td> 
                <td>{{utils.formatDate(item.createTime,'yyyy-MM-dd HH:mm:ss')}}</td>
                <td>{{item.statusName}}</td>
                <td>
                  <!-- <button type="button" *ngIf="item.state!=5"(click)="showEditName(item)" class="btn btn-info btn-xs">编辑姓名</button> -->
                  <!-- <button type='button' *ngIf="item.state!=5" (click)='disable(item)' class='btn btn-danger btn-xs'>禁用</button> -->
                  <!-- <button type='button' *ngIf="item.state==5" (click)='disable(item)' class='btn btn-info btn-xs'>启用</button> -->
                  <button type="button" *ngIf="item.state!=5"(click)="deleteItem(item)" class="btn btn-danger btn-xs">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--分页区域-->
<div class="pagination-box text-center">
    <ul class="pagination">
        <li [class]="httpService.currentPage==1?'active':''">
            <a href="javascript:;" (click)="httpService.toFirstPage()">首页</a>
        </li>
        <li [class]="httpService.currentPage==1?'disabled':''">
            <a href="javascript:;"  (click)="httpService.prev()">上一页</a>
        </li>
        <li class="disabled"><a href="javascript:;">第{{httpService.currentPage}}页 | 共{{httpService.totalPage}}页</a></li>
        <li [class]="httpService.currentPage==httpService.totalPage?'disabled':''">
            <a href="javascript:;" (click)="httpService.next()">下一页</a>
        </li>
        <li [class]="httpService.currentPage==httpService.totalPage?'active':''">
            <a href="javascript:;" (click)="httpService.toEndPage()">末页</a>
        </li>
    </ul>
</div>


<!--新增页面-->
<div id="addPanel" class="form-horizontal" style="display:none;width:88%;">
  <div class="form-group">
      <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;账户等级</label>
      <div class="col-sm-8">
          <select id="cardGrade" [(ngModel)]="subData.cardGrade" placeholder="请输入账户等级">
              <option value="1">普卡</option>
              <option value="2">铜卡</option>
              <option value="3">银卡</option>
              <option value="4">金卡</option>
              <option value="5">钻石卡</option>
          </select>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;手机号</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" id="phone" [(ngModel)]="subData.phone" placeholder="请输入手机号"/>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;邮箱</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" id="email" [(ngModel)]="subData.email" placeholder="请输入邮箱地址"/>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;邀请人(UID)</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" id="uid" [(ngModel)]="subData.uid" placeholder="请输入邀请人"/>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;接点人(UID)</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" id="contactUserId" [(ngModel)]="subData.contactUserId" placeholder="请输入接点人"/>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;登录密码</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" id="password" [(ngModel)]="subData.password" placeholder="请输入登录密码"/>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;确认登录密码</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" id="confirmPassword" [(ngModel)]="subData.confirmPassword" placeholder="请输入确认登录密码"/>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;支付密码</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" id="payword" [(ngModel)]="subData.payword" placeholder="请输入支付密码"/>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;确认支付密码</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" id="confirmPayWord" [(ngModel)]="subData.confirmPayWord" placeholder="请输入确认支付密码"/>
      </div>
  </div>
</div>
<!--编辑页面-->
<div id="editPanel" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;姓名</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="name" [(ngModel)]="editDate.name" placeholder="请输入姓名"/>
        </div>
    </div>
</div>
