.search-box input[type=date]{
  width:150px;
}
.tab-img{
  width:50px;
  height:30px;
  margin-left: 2px;
}

.div_1{
    clear: both;
    margin-top: 1.5%;
    .div_1_1{
      clear: both;
      float: left;
      width: 160px;
      height: 80px;
      border: 1.5px solid black;
      margin-left:10%;
      text-align: center;
      line-height: 74px;
      font-weight:700px;
      font-size:18px;
    }
    .div_1_2{
      float: left;
      width: 160px;
      height: 80px;
      border: 1.5px solid black;
      margin-left: 2%;
      text-align: center;
      line-height: 74px;
      font-weight:700px;
      font-size:18px;
    }
    .div_1_3{
      float: left;
      width: 160px;
      height: 80px;
      border: 1.5px solid black;
      margin-left: 2%;
      text-align: center;
      line-height: 74px;
      font-weight:700px;
      font-size:18px;
    }
    .div_1_4{
      float: left;
      width: 160px;
      height: 80px;
      border: 1.5px solid black;
      margin-left: 2%;
      text-align: center;
      line-height: 74px;
      font-weight:700px;
      font-size:18px;
    }
}

.div_2{
    clear: both;
    padding-top: 1.5%;
    .div_2_1{
      clear: both;
      float: left;
      width: 160px;
      height: 80px;
      border: 1.5px solid black;
      margin-left:10%;
      text-align: center;
      line-height: 74px;
      font-weight:700px;
      font-size:18px;
    }
    .div_2_2{
      float: left;
      width: 160px;
      height: 80px;
      border: 1.5px solid black;
      margin-left: 2%;
      text-align: center;
      line-height: 74px;
      font-weight:700px;
      font-size:18px;
    }
    .div_2_3{
      float: left;
      width: 160px;
      height: 80px;
      border: 1.5px solid black;
      margin-left: 2%;
      text-align: center;
      line-height: 74px;
      font-weight:700px;
      font-size:18px;
    }
    .div_2_4{
      float: left;
      width: 160px;
      height: 80px;
      border: 1.5px solid black;
      margin-left: 2%;
      text-align: center;
      line-height: 74px;
      font-weight:700px;
      font-size:18px;
    }
}

.div_3{
    clear: both;
    margin-top: 1.5%;
    .div_3_1{
      clear: both;
      float: left;
      width: 150px;
      height: 75px;
      border: 1.5px solid black;
      margin-left:10%;
      text-align: center;
      line-height: 60px;
      font-weight:700px;
      font-size:18px;
    }
    .div_3_2{
      float: left;
      width: 150px;
      height: 75px;
      border: 1.5px solid black;
      text-align: center;
      line-height: 60px;
      font-weight:700px;
      font-size:18px;
    }

}
